<form
  #form="ngForm"
  (ngSubmit)="submit()"
  [formGroup]="sendFlowForm"
  class="box"
>
  <div class="header">
    <h1>Envoyer</h1>
    <h3>{{ (parentFlow$ | async)?.title }}</h3>
    <!-- <p>
      Veuillez saisir toutes les informations sur le courrier dans le formulaire
      ci-dessous
    </p> -->
  </div>
  <entities-chip-autocomplete
    formControlName="receivers"
    nome="receivers"
    required
  ></entities-chip-autocomplete>

  <mat-form-field appearance="outline">
    <mat-label>Observations / Instructions</mat-label>
    <textarea required formControlName="content" matInput></textarea>
  </mat-form-field>
  <div class="columns">
    <mat-checkbox formControlName="signature" name="signature"
      >Signature</mat-checkbox
    >
    <mat-checkbox formControlName="urgent" name="urgent">Urgent</mat-checkbox>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Note</mat-label>
    <textarea formControlName="note" matInput></textarea>
  </mat-form-field>
  <labels formControlName="labels"></labels>
  <files></files>
  <div class="columns">
    <file-upload-button></file-upload-button>
    <button
      [disabled]="!sendFlowForm.valid"
      mat-raised-button
      color="primary"
      cdkFocusInitial
    >
      Envoyer
    </button>
    <!-- <button mat-raised-button="">VOIR CORRIER ENREGISTRE</button> -->
  </div>
</form>
