<div>
  <back></back>
</div>
<div>
  <iframe
    style="width: 100%; height: 60vw"
    src="https://www.youtube.com/embed/lQ32ugCYixs"
    frameborder="0"
    allowfullscreen
  >
  </iframe>
</div>
<div class="iframe" style="width: 100%">
  <iframe
    frameborder="0"
    allowfullscreen
    style="width: 100%; height: 8000px"
    src="https://docs.google.com/document/d/e/2PACX-1vTU9PI9bYvJrPlVZSoE1-gHNho9aiyZpSfJhV0StZ2AegW2r-OVgl7k78Q32f_U-DKobTi2Lx45CsSq/pub?embedded=true"
  ></iframe>
</div>
